<main class="form-signin">
    <form [formGroup]="eventForm" (submit)="submit_()">
        <h1 class="h3 mb-3 fw-normal">Add Events</h1>
        <div class="form-floating">
            <input formControlName="ClubID" type="text" class="form-control" id="ClubID"
                placeholder="Please enter the club ID once again" />
            <label for="floatingPassword">Club ID</label>
            <div class="err">
                <small *ngIf="
            eventForm.get('ClubID')?.touched && eventForm.get('ClubID')?.invalid
          ">*Please Enter your Club ID</small>
            </div>
        </div>
        <div class="form-floating">
            <textarea formControlName="description" minlength="10" rows="10" cols="10" class="form-control" id="description"
                placeholder="Event Description..."></textarea>
          <label for="floatingPassword">Event Description</label>
            <div class="err">
                <small *ngIf="
            eventForm.get('description')?.touched &&
            eventForm.get('description')?.invalid
          ">*Description should be a minimum if 10 characters</small>
            </div>
        </div>
        <div class="form-floating">
            <input formControlName="eDate" type="date" class="form-control" id="eDate" placeholder="Date" />
            <label for="floatingPassword">Date</label>
            <div class="err">
                <small *ngIf="
            eventForm.get('eDate')?.touched &&
            eventForm.get('eDate')?.invalid
          ">*Please select a date</small>
            </div>
        </div>
        <div class="form-floating">
            <input formControlName="time" type="time" class="form-control" id="time" placeholder="Time" />
            <label for="floatingPassword">Time</label>
            <div class="err">
                <small *ngIf="
            eventForm.get('time')?.touched &&
            eventForm.get('time')?.invalid
          ">*Please select Event Time</small>
            </div>
        </div>
        <div class="form-floating">
            <input formControlName="venue" type="text" class="form-control" id="time" placeholder="Enter a Venue" />
            <label for="floatingPassword">Venue</label>
            <div class="err">
                <small *ngIf="
            eventForm.get('venue')?.touched &&
            eventForm.get('venue')?.invalid
          ">*Please Enter a venue</small>
            </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="eventForm.invalid">
            Add Event
        </button>
        <div class="display">
            <h3 class="successMessage">{{ msg }}</h3>
        </div>
    </form>
</main>