<footer>
   <div class="footer">
      <h1>Team Info:</h1>
      <div class="info">
         <div class="box">
            <p>Ganesh Vernekar</p>
            <p>01FE20BCS090</p>
            <p>225</p>
         </div>
         <div class="box">
            <p>Mithilesh Yadawad</p>
            <p>01FE20BCS075</p>
            <p>211</p>
         </div>
         <div class="box">
            <p>Abhishek Hosamani</p>
            <p>01FE20BCS088</p>
            <p>223</p>
         </div>
         <div class="box">
            <p>Shashank Hegde</p>
            <p>01FE20BCS068</p>
            <p>205</p>
         </div>
         
      </div>
   </div>
</footer>