.proj_items{
  display: flex;
  margin-top: 5vh;
}
.img{
  margin-right: 10px;
}
.box{
  flex: 0 0 110vh;
  margin-right: 5vh;
  font-size: large;
}
.proj_heading{
  font-size: 1.8em;
  color: aliceblue;
  background-image:linear-gradient(to right,#474444,white);
  border-radius: 1vh;
  padding:1vh 1vh;
}
.info{
  background-color: purple;
  padding: 2vh 5vh;
  color: white;
  border-radius: 2vh;

}
.del{
  margin-top: 2vh;
  background-color: #474444;
  color: white;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 3vh;
}
