<mat-toolbar>
  <mat-toolbar-row>
    <button (click)="sidenav.toggle()" mat-icon-button style="outline: none">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="example-form">
      <form>
        <mat-form-field class="example-full-width">
          <span matPrefix> </span>
          <input type="tel" matInput placeholder="Search" name="search" [(ngModel)]="search" />
        </mat-form-field>
        <br />
        {{ search }}
      </form>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav style="width: 30vh; position:absolute" #sidenav opened="true" mode="side">
    <mat-nav-list>
      <a style="font-size: 2vh" routerLink="aiml" routerLinkActive="active" mat-list-item><img
          src="assets/img/GeeksforGeeks.png" alt="Aiml image" />AIML</a>
      <a style="font-size: 2vh" routerLink="cloud" routerLinkActive="active" mat-list-item><img
          src="assets/img/gdsc.png" alt="Gdsc image" />CLOUD</a>
      <a *ngIf="isAuth" style="font-size: 2vh" routerLink="/AddResearch" routerLinkActive="active" mat-list-item>Add
        events as Admin</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: white; color: #212121">
    <div style="height: 100%; margin: 5vh 15vh">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>